* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial;
  min-height: 100vh !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  min-height: 47px;
  padding: 5px 20px;
  background-color: #2b2d3c;
  border-bottom: 1px solid rgb(70, 70, 70);
}

@media (max-width: 640px) {
  .navbar {
    padding: 5px 5px 5px 20px;
  }
}

.navbar-menu > img {
  cursor: pointer;
  transition: 250ms;
}

.navbar-menu > img:hover {
  filter: brightness(80%);
}

.navbar-menu > ul {
  width: 435px;
  margin-left: 20px;
}

.navbar-menu > ul > li {
  padding: 6px 8px;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
}

.navbar-menu > ul > li:last-child {
  border-radius: 4px;
  transition: 250ms;
}

.navbar-menu > ul > li:last-child:hover {
  background-color: #a0a0a027;
}

.navbar-menu > ul > li > svg {
  margin-left: 5px;
}

.navbar-menu > ul > li > a {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
  line-height: 143%;
  color: #fff;
  position: relative;
}

.button {
  border: none;
  border-radius: 4px;
  font-family: Inter, Arial;
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 0.875rem;
  padding: 6px 12px;
  color: #fff;
  background: linear-gradient(248.86deg, #b6509e 10.51%, #2ebac6 93.41%);
  margin-right: 8px;
  cursor: pointer;
  transition: 250ms;
}

.button:hover {
  filter: brightness(90%);
}

.menu-btn-mobile,
.menu-btn-pc {
  color: #fff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ebebed1f;
  background-color: #383d51;
  padding: 7px 8px;
  min-width: unset;
  transition: 250ms;
  cursor: pointer;
  height: 36px;
}

.menu-btn-mobile:hover,
.menu-btn-pc:hover {
  background-color: #2b2d3c;
}

.menu-mobile-close-btn {
  border: none;
  outline: none;
  width: 36px;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.menu-btn-mobile {
  display: none;
}

.menu-mobile {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 47px;
  background-color: #1b2030;
  padding: 24px 0;
  transform: translateY(-110%);
  transition: 250ms;
}

.menu-mobile-menu {
  width: 100%;
  border-bottom: 1px solid #ffffff23;
  padding: 0 24px 24px 24px;
}

.menu-mobile-menu > h3,
.menu-mobile-settings > h3,
.menu-mobile-links > h3 {
  font-weight: 500;
  letter-spacing: 0.00625rem;
  line-height: 1rem;
  font-size: 0.75rem;
  color: #a5a8b6;
  padding: 8px 0;
}

.menu-mobile-menu > ul > li {
  padding: 16px 0;
}

.menu-mobile-menu > ul > li > a {
  font-weight: 600;
  letter-spacing: unset;
  line-height: 133.4%;
  font-size: 1.3125rem;
  color: #f1f1f3;
}

.menu-mobile-settings {
  padding: 24px;
  border-bottom: 1px solid #ffffff23;
}

.menu-mobile-settings > ul > li {
  padding: 12px 0;
}

.menu-mobile-settings > ul > li > p {
  font-weight: 600;
  letter-spacing: 0.009375rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: #f1f1f3;
}

.menu-mobile-checkbox {
  color: #f1f1f3;
  font-weight: 400;
  letter-spacing: 0.009375rem;
  line-height: 143%;
  font-size: 0.875rem;
  position: relative;
}

.menu-mobile-checkbox > input {
  width: 35px;
  height: 20px;
  appearance: none;
  background-color: #3a3e4c;
  border-radius: 8px;
  margin-left: 10px;
  transition: 250ms;
  cursor: pointer;
}

.menu-mobile-checkbox > .checkbox-hand {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 41px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 6px;
  transition: 250ms;
  cursor: pointer;
}

.menu-mobile-checkbox > input:checked {
  background-color: #66bb6a;
}

.menu-mobile-checkbox > input:checked + .checkbox-hand {
  left: 56px;
}

.menu-mobile-language {
  color: #f1f1f3;
  font-size: 0.875rem;
}

.menu-mobile-language > svg {
  margin-left: 5px;
}

.menu-mobile-links {
  width: 100%;
  padding: 24px;
}

.menu-mobile-links > ul > li {
  padding: 12px 0;
}

.menu-mobile-links > ul > li > a {
  color: #f1f1f3;
  display: flex;
  justify-content: start;
}

.menu-mobile-links > ul > li > a > svg {
  margin-right: 10px;
}

.menu-mobile-links > ul > li > a > p {
  font-weight: 600;
  letter-spacing: 0.009375rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

header {
  width: 100%;
  padding: 40px 7% 80px 7%;
  background-color: #2b2d3c;
}

.header-container {
  width: 100%;
  max-width: 1440px;
}

.selecter-select > div {
  justify-content: start;
}

.selecter-select > h1 {
  font-weight: 600;
  letter-spacing: unset;
  line-height: 133.4%;
  font-size: 1.3125rem;
  color: rgb(165, 168, 182);
  display: none;
}

@media (max-width: 640px) {
  .selecter-select > h1 {
    display: block;
  }
}

.selecter-select > div > img {
  transform: scale(1.3);
}

.selecter-select > div > h1 {
  font-weight: 700;
  letter-spacing: 0.015625rem;
  line-height: 123.5%;
  font-size: 2rem;
  color: #ffffff;
  margin-left: 10px;
}

.selecter-select > div > h1:nth-child(3) {
  display: none;
}

@media (max-width: 1280px) {
  .selecter-select > div > h1:nth-child(2) {
    display: none;
  }

  .selecter-select > div > h1:nth-child(3) {
    display: block;
  }

  .selecter-select > div > h1 {
    font-size: 1.55rem;
  }
}

.selecter-select > div > p {
  padding: 0 7px;
  align-self: start;
  margin: 0 5px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(248.86deg, #b6509e 10.51%, #2ebac6 93.41%);
  font-weight: 500;
  letter-spacing: 0.00625rem;
  line-height: 1rem;
  font-size: 0.75rem;
}

.selecter-info {
  justify-content: start;
  margin-top: 20px;
}

.selecter-worth {
  margin-right: 30px;
}

.selecter-worth > div:first-child,
.selecter-apy > div:first-child {
  background-color: #383d51;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  border: 1px solid #ebebed1f;
  margin-right: 12px;
}

@media (max-width: 960px) {
  .selecter-worth > div:first-child,
  .selecter-apy > div:first-child {
    display: none;
  }

  .navbar-menu > ul {
    display: none;
  }

  .menu-btn-mobile {
    display: block;
  }

  .menu-btn-pc {
    display: none;
  }
}

.selecter-worth > div:last-child > p:first-child,
.selecter-apy > div:last-child > p:first-child {
  align-self: start;
  font-weight: 400;
  letter-spacing: 0.009375rem;
  line-height: 143%;
  font-size: 0.875rem;
  color: rgb(165, 168, 182);
}

.selecter-worth > div:last-child > p:last-child,
.selecter-apy > div:last-child > p:last-child {
  font-weight: 500;
  line-height: 133.4%;
  font-size: 1.3125rem;
  color: rgb(165, 168, 182);
}

main {
  width: 100%;
  height: calc(100vh - 227.3px - 47px);
  background-color: #f1f1f3;
  padding: 0 5%;
}

.main-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  background-color: #fff;
  border-radius: 4px;
  transform: translateY(-50px);
}

.main-container > img {
  margin-bottom: 16px;
}

.main-container > h1 {
  font-weight: 600;
  letter-spacing: unset;
  line-height: 133.4%;
  font-size: 1.3125rem;
  margin-bottom: 8px;
}

.main-container > p {
  font-weight: 400;
  letter-spacing: 0.009375rem;
  line-height: 143%;
  font-size: 0.875rem;
  color: #62677b;
  margin-bottom: 24px;
  text-align: center;
}
